.example-card {
    max-width: 400px;
}

.mat-button{
    width: 100%;
    display: block;
}

mat-card-title {
    width: 100%;
    margin: auto;
    text-align: center;
}

mat-card-header {
    display: block;
}

.background{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}