<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>Informações</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let resource of user.land.resources">
            <p>{{resource.resourceType.name}}: {{resource.amount}}</p>
        </div>
        <button mat-button (click)="ShowProductionsTab()">Produções</button>
        <button mat-button [routerLink]="['/game/production']">Exércitos</button>
    </mat-card-content>
</mat-card>
<app-production-tab [user]="user"></app-production-tab>