.example-card {
    max-width: 400px;
    height: 100%;
    margin: auto;
    align-items: center;
}

.mat-button{
    width: 100%;
    display: block;
}

mat-card-title {
    width: 100%;
    margin: auto;
    text-align: center;
}