.villageImage {
    background-image: url(../../../../../assets/images/village.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.allScreenSize {
    width: 80%;
    height: 80%;
}