#backgroundImage {
    background-image: url(../../../../assets/images/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.example-container {
    width: 100%;
    height: 100%;
}

